<link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div id="custom-nav">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->
      <a style="color: whitesmoke; font-size: 1.3em; font-weight: bold" href=""><i class="fa fa-bolt" aria-hidden="true"></i><span class="logo"> Instawave</span></a>
      <span class="spacer"></span>
      <button mat-button routerLink="/signup">Sign Up</button>
  
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<br>
<div class="container">
  <router-outlet></router-outlet>
</div>


