<!-- Header - set the background image for the header in the line below -->
<header class="jumbotron bg-image-full"
  style="background-image: url('https://images.pexels.com/photos/191429/pexels-photo-191429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  <!-- <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt=""> -->
</header>
<br>
<div class="container-fluid">
  <h2 class="instaHead" style="color: cornflowerblue">Welcome to Instawave</h2>
  <br>
  <div class="create-btn">
    <button mat-raised-button color="accent" (click)="openDialog()">Create Your Post!</button>
  </div>
  <span></span>
  <br><br>

  

    <br><br><br>

    <app-insta-feed></app-insta-feed>


</div>
